.form__submit {
    background-color: #C2CAFF;
    color: white;
    font-size: 90%;
    font-weight: 200;
    border: none;
    width: 7em;
    height: 2em;
    border-radius: 5px;
}

.form__submit:hover {
    opacity: 50%;
}