

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px  auto 50px;
  font-size: 112.5%;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}


