

* {
  box-sizing: border-box;
}

body {
  color: #4a4a4a;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto 80px;
  font-size: 112.5%;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}




